/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

/* background color */
html {
 background-color: rgb(179, 179, 248);
}

/* hide element */
.hide {
    display: none;
}

/* weather description */
span {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1rem;
}

/* main for symartic HTML */
main {
    margin-top: 0;
}

/* input form */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* main content */
.app {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
/* background-image */
.app::after {
    content: "";
    background-image: url("https://icon-library.com/images/weather-icon-gif/weather-icon-gif-15.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: fixed; 
    z-index: -1;
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;   
}

/* header text */
.description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
/* user input */
.input-text {
    width: 10rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* submit button */
.submit-btn {
    position: relative;
    top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0.001rem solid white;
    background-color: rgb(163, 163, 253);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    color: white;
}

/* smaler text */
.small-text {
    color: black;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* bigger text */
.big-text {
    color: white;
    font-size: 2.1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* degree amount */
.deg-text {
    color: white;
    font-size: 3.8rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

/* location, dat & weather articles */
.location, .date, .weather-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

/* media queries for responsive design */
@media screen and (max-width: 800px) {
    .app::after {
     background-size: contain;
    }
    .location, .date, .weather-desc {
        display: flex;
        flex-direction: row;
    }
    span{
        position: relative;
        left: 3rem;
    }
    .deg-text {
        position: relative;
        left: 1.5rem;
        font-size: 2.1rem;
    }
  }
  @media screen and (max-width: 440px) {
    .app::after {
     background-size: cover;
    }
    .location, .date, .weather-desc {
        display: flex;
        flex-direction: column;
    }
    span {
        left: 1rem;
    }
    .deg-text {
        left: 0;
        font-size: 3.8rem;
    }
  }