@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html {
 background-color: rgb(179, 179, 248);
}
.hide {
    display: none;
}
span {
    display: flex;
    flex-direction: row;
}
main {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.app {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.app::after {
    content: "";
    background-image: url("https://icon-library.com/images/weather-icon-gif/weather-icon-gif-15.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: fixed; 
    z-index: -1;
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.input-text {
    width: 10rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
.submit-btn {
    position: relative;
    top: 1rem;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: rgb(163, 163, 253);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    color: white;
}

.small-text {
    color: black;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}
.big-text {
    color: white;
    font-size: 2.1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}
.location, .date, .weather-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}


@media screen and (max-width: 800px) {
    .app::after {
     background-size: contain;
    }
  }
  @media screen and (max-width: 428px) {
    .app::after {
     background-size: cover;
    }
  }